In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("../csv/Grades_advance.csv") #透過 pandas 將 csv 資料讀入，並存成 dataframe 格式

In [3]:
data #將讀入的資料以 Dataframe 的格式印出

,學號,性別,學籍班(簡稱),入學身分,入學方式,國籍,畢業方式,民族,新住民(國籍),排108-1,排108-2,排109-1,排109-2,排110-1,缺108-1,缺108-2,缺109-1,缺109-2,缺110-1
0,108197**,女,日多遊108忠,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.035088,0.185185,0.218182,0.0,0.0,0.000000,0.194444,0.222222
1,108196**,女,日應英108忠,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.053571,0.067797,0.035088,0.0,0.0,0.000000,0.000000,0.000000
2,108195**,女,日行銷108仁,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.120000,0.062500,0.288889,0.0,0.0,0.166667,0.000000,0.000000
3,108197**,女,日多遊108忠,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.122807,0.500000,0.363636,0.0,0.0,0.177778,0.213675,0.196759
4,108196**,女,日餐管108孝,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.150000,0.406780,0.214286,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,109255**,女,夜多遊109忠,一般生,獨招,台灣,肄業,無,柬埔寨,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.273504,0.385417,0.375000
6251,109236**,女,夜餐管109孝,一般生,獨招,台灣,畢業,無,泰國,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,0.000000,0.000000
6252,109245**,女,夜應英109忠,一般生,獨招,台灣,畢業,無,越南,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.250000,0.244048,0.451389
6253,109221**,男,夜行銷109忠,一般生,獨招,台灣,畢業,無,越南,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.263889,0.255952,0.222222
6254,110222**,女,夜行銷110孝,一般生,獨招,台灣,畢業,無,越南,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,0.000000,0.361111

In [4]:
columns = data.columns #讀出資料的所有屬性欄位

In [5]:
columns #顯示資料的所有屬性欄位

Index(['學號', '性別', '學籍班(簡稱)', '入學身分', '入學方式', '國籍', '畢業方式', '民族', '新住民(國籍)',
       '排108-1', '排108-2', '排109-1', '排109-2', '排110-1', '缺108-1', '缺108-2',
       '缺109-1', '缺109-2', '缺110-1'],
      dtype='object')

In [6]:
index = data.index  #讀出資料的索引

In [7]:
index #顯示資料的索引

RangeIndex(start=0, stop=6255, step=1)

In [8]:
values = data.values #讀出資料的所有值，即每一筆學生資料

In [9]:
values #顯示出每一筆學生資料

array([['108197**', '女', '日多遊108忠', ..., 0.0, 0.194444444, 0.222222222],
       ['108196**', '女', '日應英108忠', ..., 0.0, 0.0, 0.0],
       ['108195**', '女', '日行銷108仁', ..., 0.166666667, 0.0, 0.0],
       ...,
       ['109245**', '女', '夜應英109忠', ..., 0.25, 0.244047619, 0.451388889],
       ['109221**', '男', '夜行銷109忠', ..., 0.263888889, 0.255952381,
        0.222222222],
       ['110222**', '女', '夜行銷110孝', ..., 0.0, 0.0, 0.361111111]],
      dtype=object)

In [10]:
#重新命名成英文並存成一個 Dict 容器
new_col_name = {'學號':'Student_ID', '性別':'Gender', '學籍班(簡稱)':'Class', '入學身分':'Admission_Status', 
                '入學方式':'Admission_Method', '國籍':'Citizenship', '畢業方式':'Graduation_Method',
                '民族':'Nationality','新住民(國籍)':'NewResidents_Citizenship','排108-1':'Rank_10801','排108-2':'Rank_10802',
                '排109-1':'Rank_10901','排109-2':'Rank_10902', '排110-1':'Rank_11001', '缺108-1':'Absence_10801', 
                '缺108-2':'Absence_10802','缺109-1':'Absence_10901', '缺109-2':'Absence_10902', '缺110-1':'Absence_11001'
               }

In [11]:
#將欄位重新命名成英文
data = data.rename(columns=new_col_name)

In [12]:
data

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10801,Rank_10802,Rank_10901,Rank_10902,Rank_11001,Absence_10801,Absence_10802,Absence_10901,Absence_10902,Absence_11001
0,108197**,女,日多遊108忠,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.035088,0.185185,0.218182,0.0,0.0,0.000000,0.194444,0.222222
1,108196**,女,日應英108忠,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.053571,0.067797,0.035088,0.0,0.0,0.000000,0.000000,0.000000
2,108195**,女,日行銷108仁,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.120000,0.062500,0.288889,0.0,0.0,0.166667,0.000000,0.000000
3,108197**,女,日多遊108忠,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.122807,0.500000,0.363636,0.0,0.0,0.177778,0.213675,0.196759
4,108196**,女,日餐管108孝,一般生,轉學,台灣,畢業,無,無,NaN,NaN,0.150000,0.406780,0.214286,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,109255**,女,夜多遊109忠,一般生,獨招,台灣,肄業,無,柬埔寨,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.273504,0.385417,0.375000
6251,109236**,女,夜餐管109孝,一般生,獨招,台灣,畢業,無,泰國,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,0.000000,0.000000
6252,109245**,女,夜應英109忠,一般生,獨招,台灣,畢業,無,越南,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.250000,0.244048,0.451389
6253,109221**,男,夜行銷109忠,一般生,獨招,台灣,畢業,無,越南,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.263889,0.255952,0.222222
6254,110222**,女,夜行銷110孝,一般生,獨招,台灣,畢業,無,越南,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.000000,0.000000,0.361111

In [13]:
data.dtypes #顯示出所有屬性欄位的資料型態

Student_ID                   object
Gender                       object
Class                        object
Admission_Status             object
Admission_Method             object
Citizenship                  object
Graduation_Method            object
Nationality                  object
NewResidents_Citizenship     object
Rank_10801                  float64
Rank_10802                  float64
Rank_10901                  float64
Rank_10902                  float64
Rank_11001                  float64
Absence_10801               float64
Absence_10802               float64
Absence_10901               float64
Absence_10902               float64
Absence_11001               float64
dtype: object

In [14]:
data.dtypes.value_counts() #統計出資料中的各種資料型態

float64    10
object      9
dtype: int64

In [15]:
data.info() #統計出所有欄位的值，可以發現 空值(nan) 的線索

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6255 entries, 0 to 6254
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Student_ID                6255 non-null   object
 1   Gender                    6255 non-null   object
 2   Class                     6255 non-null   object
 3   Admission_Status          6255 non-null   object
 4   Admission_Method          6255 non-null   object
 5   Citizenship               6255 non-null   object
 6   Graduation_Method         6255 non-null   object
 7   Nationality               6255 non-null   object
 8   NewResidents_Citizenship  6255 non-null   object
 9   Rank_10801                1276 non-null   float64
 10  Rank_10802                1320 non-null   float64
 11  Rank_10901                2554 non-null   float64
 12  Rank_10902                2614 non-null   float64
 13  Rank_11001                3897 non-null   float64
 14  Absence_10801             6255 non-null   float64
 15  Absence_10802             6255 non-null   float64
 16  Absence_10901             6255 non-null   float64
 17  Absence_10902             6255 non-null   float64
 18  Absence_11001             6255 non-null   float64
dtypes: float64(10), object(9)
memory usage: 928.6+ KB

In [16]:
data['Rank_10801'] = data['Rank_10801'].fillna(-1) #代表未入學故未有成績以 -1 取代空值
data['Rank_10802'] = data['Rank_10802'].fillna(-1) 
data['Rank_10901'] = data['Rank_10901'].fillna(-1) 
data['Rank_10902'] = data['Rank_10902'].fillna(-1) 
data['Rank_11001'] = data['Rank_11001'].fillna(-1)

In [17]:
data

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10801,Rank_10802,Rank_10901,Rank_10902,Rank_11001,Absence_10801,Absence_10802,Absence_10901,Absence_10902,Absence_11001
0,108197**,女,日多遊108忠,一般生,轉學,台灣,畢業,無,無,-1.0,-1.0,0.035088,0.185185,0.218182,0.0,0.0,0.000000,0.194444,0.222222
1,108196**,女,日應英108忠,一般生,轉學,台灣,畢業,無,無,-1.0,-1.0,0.053571,0.067797,0.035088,0.0,0.0,0.000000,0.000000,0.000000
2,108195**,女,日行銷108仁,一般生,轉學,台灣,畢業,無,無,-1.0,-1.0,0.120000,0.062500,0.288889,0.0,0.0,0.166667,0.000000,0.000000
3,108197**,女,日多遊108忠,一般生,轉學,台灣,畢業,無,無,-1.0,-1.0,0.122807,0.500000,0.363636,0.0,0.0,0.177778,0.213675,0.196759
4,108196**,女,日餐管108孝,一般生,轉學,台灣,畢業,無,無,-1.0,-1.0,0.150000,0.406780,0.214286,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,109255**,女,夜多遊109忠,一般生,獨招,台灣,肄業,無,柬埔寨,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.0,0.0,0.273504,0.385417,0.375000
6251,109236**,女,夜餐管109孝,一般生,獨招,台灣,畢業,無,泰國,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.0,0.0,0.000000,0.000000,0.000000
6252,109245**,女,夜應英109忠,一般生,獨招,台灣,畢業,無,越南,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.0,0.0,0.250000,0.244048,0.451389
6253,109221**,男,夜行銷109忠,一般生,獨招,台灣,畢業,無,越南,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.0,0.0,0.263889,0.255952,0.222222
6254,110222**,女,夜行銷110孝,一般生,獨招,台灣,畢業,無,越南,-1.0,-1.0,-1.000000,-1.000000,-1.000000,0.0,0.0,0.000000,0.000000,0.361111

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6255 entries, 0 to 6254
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Student_ID                6255 non-null   object
 1   Gender                    6255 non-null   object
 2   Class                     6255 non-null   object
 3   Admission_Status          6255 non-null   object
 4   Admission_Method          6255 non-null   object
 5   Citizenship               6255 non-null   object
 6   Graduation_Method         6255 non-null   object
 7   Nationality               6255 non-null   object
 8   NewResidents_Citizenship  6255 non-null   object
 9   Rank_10801                6255 non-null   float64
 10  Rank_10802                6255 non-null   float64
 11  Rank_10901                6255 non-null   float64
 12  Rank_10902                6255 non-null   float64
 13  Rank_11001                6255 non-null   float64
 14  Absence_10801             6255 non-null   float64
 15  Absence_10802             6255 non-null   float64
 16  Absence_10901             6255 non-null   float64
 17  Absence_10902             6255 non-null   float64
 18  Absence_11001             6255 non-null   float64
dtypes: float64(10), object(9)
memory usage: 928.6+ KB

In [19]:
data.columns

Index(['Student_ID', 'Gender', 'Class', 'Admission_Status', 'Admission_Method',
       'Citizenship', 'Graduation_Method', 'Nationality',
       'NewResidents_Citizenship', 'Rank_10801', 'Rank_10802', 'Rank_10901',
       'Rank_10902', 'Rank_11001', 'Absence_10801', 'Absence_10802',
       'Absence_10901', 'Absence_10902', 'Absence_11001'],
      dtype='object')

In [20]:
data_10801 = data[['Student_ID', 'Gender', 'Class', 'Admission_Status', 'Admission_Method',
       'Citizenship', 'Graduation_Method', 'Nationality',
       'NewResidents_Citizenship', 'Rank_10801','Absence_10801']]

In [21]:
data_10801

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10801,Absence_10801
0,108197**,女,日多遊108忠,一般生,轉學,台灣,畢業,無,無,-1.0,0.0
1,108196**,女,日應英108忠,一般生,轉學,台灣,畢業,無,無,-1.0,0.0
2,108195**,女,日行銷108仁,一般生,轉學,台灣,畢業,無,無,-1.0,0.0
3,108197**,女,日多遊108忠,一般生,轉學,台灣,畢業,無,無,-1.0,0.0
4,108196**,女,日餐管108孝,一般生,轉學,台灣,畢業,無,無,-1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6250,109255**,女,夜多遊109忠,一般生,獨招,台灣,肄業,無,柬埔寨,-1.0,0.0
6251,109236**,女,夜餐管109孝,一般生,獨招,台灣,畢業,無,泰國,-1.0,0.0
6252,109245**,女,夜應英109忠,一般生,獨招,台灣,畢業,無,越南,-1.0,0.0
6253,109221**,男,夜行銷109忠,一般生,獨招,台灣,畢業,無,越南,-1.0,0.0
6254,110222**,女,夜行銷110孝,一般生,獨招,台灣,畢業,無,越南,-1.0,0.0

In [22]:
data_10801 =  data_10801[~(data_10801['Rank_10801']==-1)].sort_values(by=['Rank_10801'])

In [23]:
data_10801.to_csv("data_10801.csv", encoding='utf_8_sig')
data_10801

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10801,Absence_10801
140,108131**,女,日觀光108忠,一般生,聯合分發,台灣,畢業,無,無,0.015873,0.000000
3759,108138**,女,日餐管108仁,一般生,聯合分發,台灣,畢業,無,無,0.016393,0.000000
2793,108146**,女,日應英108孝,一般生,甄選入學,台灣,畢業,無,無,0.017241,0.000000
1214,108141**,女,日旅展108忠,一般生,甄選入學,台灣,畢業,無,無,0.017241,0.000000
2792,108115**,女,日國貿108忠,一般生,甄選入學,台灣,畢業,無,無,0.017241,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
3152,108121**,女,日行銷108忠,一般生,甄選入學,台灣,畢業,無,無,1.000000,0.225926
1735,108124**,男,日行銷108愛,一般生,申請入學,台灣,畢業,無,無,1.000000,0.600427
1736,108161**,女,日工設產品108忠,一般生,聯合分發,台灣,畢業,無,無,1.000000,0.260417
344,108142**,女,日財金108忠,一般生,技優甄審,台灣,畢業,無,無,1.000000,0.203704
1734,108116**,女,日國貿108孝,一般生,聯合分發,台灣,畢業,無,無,1.000000,0.435673

In [24]:
data_10801.corr(method ='pearson') # 以 Pearson 計算相關性為 +0.552371, 以統計觀點 +0.5 ~ +1.0 為強相關。

               Rank_10801  Absence_10801
Rank_10801       1.000000       0.552371
Absence_10801    0.552371       1.000000

In [25]:
data_10802 = data[['Student_ID', 'Gender', 'Class', 'Admission_Status', 'Admission_Method',
       'Citizenship', 'Graduation_Method', 'Nationality',
       'NewResidents_Citizenship', 'Rank_10802','Absence_10802']]

In [26]:
data_10802 =  data_10802[~(data_10802['Rank_10802']==-1)].sort_values(by=['Rank_10802'])

In [27]:
data_10802.to_csv("data_10802.csv", encoding='utf_8_sig')
data_10802

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10802,Absence_10802
2792,108115**,女,日國貿108忠,一般生,甄選入學,台灣,畢業,無,無,0.016393,0.000000
1215,108125**,女,日財法108忠,一般生,聯合分發,台灣,畢業,無,無,0.016667,0.000000
3760,108117**,女,日財金108忠,一般生,聯合分發,台灣,畢業,無,無,0.016667,0.000000
1459,108131**,女,日觀光108忠,一般生,聯合分發,台灣,畢業,無,無,0.016667,0.000000
3759,108138**,女,日餐管108仁,一般生,聯合分發,台灣,畢業,無,無,0.016949,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
1647,108123**,女,日行銷108仁,一般生,申請入學,台灣,畢業,無,無,1.000000,0.305556
1722,108141**,女,日旅展108忠,一般生,甄選入學,台灣,畢業,無,無,1.000000,0.462963
3745,108105**,男,日應英108忠,一般生,獨招,台灣,畢業,無,無,1.000000,0.583333
640,108105**,男,日行銷108忠,一般生,獨招,台灣,畢業,無,無,1.000000,0.275926
1333,108132**,女,日觀光108孝,一般生,聯合分發,台灣,畢業,無,無,1.000000,0.786111

In [28]:
data_10802.corr(method ='pearson') # 以 Pearson 計算相關性為 +0.612387, 以統計觀點 +0.5 ~ +1.0 為強相關。

               Rank_10802  Absence_10802
Rank_10802       1.000000       0.612387
Absence_10802    0.612387       1.000000

In [29]:
data_11001 = data[['Student_ID', 'Gender', 'Class', 'Admission_Status', 'Admission_Method',
       'Citizenship', 'Graduation_Method', 'Nationality',
       'NewResidents_Citizenship', 'Rank_11001','Absence_11001']]

In [30]:
data_11001 =  data_11001[~(data_11001['Rank_11001']==-1)].sort_values(by=['Rank_11001'])

In [31]:
data_11001.to_csv("data_11001.csv", encoding='utf_8_sig')
data_11001

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_11001,Absence_11001
3155,109132**,女,日觀光109孝,一般生,繁星入學,台灣,畢業,無,無,0.015625,0.000000
140,108131**,女,日觀光108忠,一般生,聯合分發,台灣,畢業,無,無,0.015873,0.000000
3723,108138**,女,日餐管108仁,一般生,技優甄審,台灣,畢業,無,無,0.016667,0.000000
167,108125**,女,日財法108忠,一般生,甄選入學,台灣,畢業,無,無,0.016667,0.000000
2801,108117**,男,日財金108忠,一般生,聯合分發,台灣,畢業,無,無,0.016949,0.234568
...,...,...,...,...,...,...,...,...,...,...,...
1083,110137**,男,日餐管110孝,一般生,甄選入學,台灣,畢業,無,無,1.000000,0.385266
137,109195**,男,日行銷109仁,一般生,轉學,台灣,畢業,無,無,1.000000,0.611111
2651,108141**,女,日旅展108忠,一般生,甄選入學,台灣,畢業,無,無,1.000000,0.529514
3331,109111**,男,日企管109忠,一般生,甄選入學,台灣,畢業,無,無,1.000000,0.357843
336,108131**,女,日觀光108忠,一般生,甄選入學,台灣,畢業,無,無,1.000000,0.463768

In [32]:
data_11001.corr(method ='pearson') # 以 Pearson 計算相關性為 +0.65028, 以統計觀點 +0.5 ~ +1.0 為強相關。

               Rank_11001  Absence_11001
Rank_11001        1.00000        0.65028
Absence_11001     0.65028        1.00000

In [33]:
data_RankTrend = data[['Student_ID', 'Gender', 'Class', 'Admission_Status', 'Admission_Method',
       'Citizenship', 'Graduation_Method', 'Nationality',
       'NewResidents_Citizenship', 'Rank_10801','Rank_10802','Rank_10901','Rank_10902','Rank_11001']]

In [34]:
data_RankTrend =  data_RankTrend[ (data_RankTrend['Rank_10801']!=-1) & (data_RankTrend['Rank_10802']!=-1) & 
                                  (data_RankTrend['Rank_10901']!=-1) & (data_RankTrend['Rank_10902']!=-1) &
                                  (data_RankTrend['Rank_11001']!=-1)]

In [35]:
data_RankTrend

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10801,Rank_10802,Rank_10901,Rank_10902,Rank_11001
139,108801**,男,日觀光108忠,外國學生,外國學生申請入學,馬來西亞,肄業,無,無,0.428571,0.266667,0.476190,0.796875,0.730159
140,108131**,女,日觀光108忠,一般生,聯合分發,台灣,畢業,無,無,0.015873,0.083333,0.047619,0.125000,0.015873
141,108115**,女,日國貿108忠,一般生,甄選入學,台灣,畢業,無,無,0.034483,0.049180,0.050847,0.053571,0.058824
142,108111**,女,日企管108忠,一般生,聯合分發,台灣,畢業,無,無,0.036364,0.125000,0.018868,0.098039,0.020000
143,108116**,男,日國貿108孝,一般生,聯合分發,台灣,畢業,無,無,0.037037,0.145455,0.052632,0.037736,0.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855,108146**,男,日應英108孝,一般生,聯合分發,台灣,肄業,無,無,0.793103,0.614035,0.888889,0.980000,0.903846
3856,108116**,男,日國貿108孝,一般生,聯合分發,台灣,肄業,無,無,0.796296,0.872727,0.842105,0.811321,0.800000
3857,108145**,女,日應英108忠,一般生,甄選入學,台灣,肄業,無,無,0.857143,0.927273,0.839286,0.711864,0.859649
3858,108162**,男,日工設機械108忠,一般生,甄選入學,台灣,肄業,無,無,0.891304,0.914894,0.961538,0.900000,0.937500
3868,108124**,女,日行銷108愛,一般生,申請入學,台灣,肄業,無,無,0.612245,0.608696,0.333333,0.205128,0.307692

In [36]:
data_RankTrend.corr(method ='pearson') # 以 Pearson 計算相關性, 以統計觀點 +0.5 ~ +1.0 為強相關。

            Rank_10801  Rank_10802  Rank_10901  Rank_10902  Rank_11001
Rank_10801    1.000000    0.801435    0.730819    0.667589    0.634893
Rank_10802    0.801435    1.000000    0.777042    0.723019    0.691086
Rank_10901    0.730819    0.777042    1.000000    0.816170    0.761032
Rank_10902    0.667589    0.723019    0.816170    1.000000    0.803316
Rank_11001    0.634893    0.691086    0.761032    0.803316    1.000000

In [37]:
data_AbsenceTrend = data

In [38]:
data_AbsenceTrend =  data_AbsenceTrend[ (data_AbsenceTrend['Rank_10801']!=-1) & (data_AbsenceTrend['Rank_10802']!=-1) & 
                                  (data_AbsenceTrend['Rank_10901']!=-1) & (data_AbsenceTrend['Rank_10902']!=-1) &
                                  (data_AbsenceTrend['Rank_11001']!=-1)]

In [39]:
data_AbsenceTrend

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10801,Rank_10802,Rank_10901,Rank_10902,Rank_11001,Absence_10801,Absence_10802,Absence_10901,Absence_10902,Absence_11001
139,108801**,男,日觀光108忠,外國學生,外國學生申請入學,馬來西亞,肄業,無,無,0.428571,0.266667,0.476190,0.796875,0.730159,0.166667,0.226852,0.243827,0.219907,0.254630
140,108131**,女,日觀光108忠,一般生,聯合分發,台灣,畢業,無,無,0.015873,0.083333,0.047619,0.125000,0.015873,0.000000,0.000000,0.000000,0.000000,0.000000
141,108115**,女,日國貿108忠,一般生,甄選入學,台灣,畢業,無,無,0.034483,0.049180,0.050847,0.053571,0.058824,0.000000,0.000000,0.000000,0.000000,0.000000
142,108111**,女,日企管108忠,一般生,聯合分發,台灣,畢業,無,無,0.036364,0.125000,0.018868,0.098039,0.020000,0.000000,0.166667,0.000000,0.180556,0.000000
143,108116**,男,日國貿108孝,一般生,聯合分發,台灣,畢業,無,無,0.037037,0.145455,0.052632,0.037736,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855,108146**,男,日應英108孝,一般生,聯合分發,台灣,肄業,無,無,0.793103,0.614035,0.888889,0.980000,0.903846,0.316667,0.383333,0.233796,0.527778,0.455556
3856,108116**,男,日國貿108孝,一般生,聯合分發,台灣,肄業,無,無,0.796296,0.872727,0.842105,0.811321,0.800000,0.240741,0.263072,0.299020,0.319444,0.248457
3857,108145**,女,日應英108忠,一般生,甄選入學,台灣,肄業,無,無,0.857143,0.927273,0.839286,0.711864,0.859649,0.371914,0.501389,0.567460,0.312500,0.335859
3858,108162**,男,日工設機械108忠,一般生,甄選入學,台灣,肄業,無,無,0.891304,0.914894,0.961538,0.900000,0.937500,0.583333,0.333333,0.537037,0.371345,0.634921
3868,108124**,女,日行銷108愛,一般生,申請入學,台灣,肄業,無,無,0.612245,0.608696,0.333333,0.205128,0.307692,0.218954,0.242284,0.222222,0.206349,0.197531

In [40]:
data_AbsenceTrend = data_AbsenceTrend[['Student_ID', 'Gender', 'Class', 'Admission_Status', 'Admission_Method',
                                       'Citizenship', 'Graduation_Method', 'Nationality','NewResidents_Citizenship', 
                                       'Absence_10801','Absence_10802','Absence_10901','Absence_10902','Absence_11001']]

In [41]:
data_AbsenceTrend.corr(method ='pearson') # 以 Pearson 計算相關性, 以統計觀點 +0.5 ~ +1.0 為強相關。

,Absence_10801,Absence_10802,Absence_10901,Absence_10902,Absence_11001
Absence_10801,1.000000,0.636901,0.591495,0.526510,0.541692
Absence_10802,0.636901,1.000000,0.638687,0.583100,0.540676
Absence_10901,0.591495,0.638687,1.000000,0.689262,0.642967
Absence_10902,0.526510,0.583100,0.689262,1.000000,0.638816
Absence_11001,0.541692,0.540676,0.642967,0.638816,1.000000

In [42]:
corr_between_RankAbsence = data

In [43]:
corr_between_RankAbsence =  corr_between_RankAbsence[ (corr_between_RankAbsence['Rank_10801']!=-1) & 
                                                      (corr_between_RankAbsence['Rank_10802']!=-1) & 
                                                      (corr_between_RankAbsence['Rank_10901']!=-1) & 
                                                      (corr_between_RankAbsence['Rank_10902']!=-1) &
                                                      (corr_between_RankAbsence['Rank_11001']!=-1)]

In [44]:
corr_between_RankAbsence.corr(method ='pearson') # 以 Pearson 計算相關性, 以統計觀點 +0.5 ~ +1.0 為強相關。

,Rank_10801,Rank_10802,Rank_10901,Rank_10902,Rank_11001,Absence_10801,Absence_10802,Absence_10901,Absence_10902,Absence_11001
Rank_10801,1.000000,0.801435,0.730819,0.667589,0.634893,0.549170,0.494622,0.517969,0.487596,0.462747
Rank_10802,0.801435,1.000000,0.777042,0.723019,0.691086,0.527025,0.611504,0.577989,0.538679,0.536598
Rank_10901,0.730819,0.777042,1.000000,0.816170,0.761032,0.491029,0.546057,0.670278,0.618964,0.606471
Rank_10902,0.667589,0.723019,0.816170,1.000000,0.803316,0.459668,0.515738,0.618725,0.677812,0.618612
Rank_11001,0.634893,0.691086,0.761032,0.803316,1.000000,0.450292,0.482360,0.592575,0.613978,0.691502
Absence_10801,0.549170,0.527025,0.491029,0.459668,0.450292,1.000000,0.636901,0.591495,0.526510,0.541692
Absence_10802,0.494622,0.611504,0.546057,0.515738,0.482360,0.636901,1.000000,0.638687,0.583100,0.540676
Absence_10901,0.517969,0.577989,0.670278,0.618725,0.592575,0.591495,0.638687,1.000000,0.689262,0.642967
Absence_10902,0.487596,0.538679,0.618964,0.677812,0.613978,0.526510,0.583100,0.689262,1.000000,0.638816
Absence_11001,0.462747,0.536598,0.606471,0.618612,0.691502,0.541692,0.540676,0.642967,0.638816,1.000000

In [45]:
cols = ['Student_ID', 'Gender', 'Class', 'Admission_Status', 'Admission_Method',
       'Citizenship', 'Graduation_Method', 'Nationality',
       'NewResidents_Citizenship', 'Rank_10801', 'Absence_10801', 'Rank_10802', 'Absence_10802', 'Rank_10901',
       'Absence_10901','Rank_10902', 'Absence_10902', 'Rank_11001', 'Absence_11001']

In [46]:
corr_between_RankAbsence = corr_between_RankAbsence[cols]

In [47]:
corr_between_RankAbsence.corr(method ='pearson') # 以 Pearson 計算相關性, 以統計觀點 +0.5 ~ +1.0 為強相關。

,Rank_10801,Absence_10801,Rank_10802,Absence_10802,Rank_10901,Absence_10901,Rank_10902,Absence_10902,Rank_11001,Absence_11001
Rank_10801,1.000000,0.549170,0.801435,0.494622,0.730819,0.517969,0.667589,0.487596,0.634893,0.462747
Absence_10801,0.549170,1.000000,0.527025,0.636901,0.491029,0.591495,0.459668,0.526510,0.450292,0.541692
Rank_10802,0.801435,0.527025,1.000000,0.611504,0.777042,0.577989,0.723019,0.538679,0.691086,0.536598
Absence_10802,0.494622,0.636901,0.611504,1.000000,0.546057,0.638687,0.515738,0.583100,0.482360,0.540676
Rank_10901,0.730819,0.491029,0.777042,0.546057,1.000000,0.670278,0.816170,0.618964,0.761032,0.606471
Absence_10901,0.517969,0.591495,0.577989,0.638687,0.670278,1.000000,0.618725,0.689262,0.592575,0.642967
Rank_10902,0.667589,0.459668,0.723019,0.515738,0.816170,0.618725,1.000000,0.677812,0.803316,0.618612
Absence_10902,0.487596,0.526510,0.538679,0.583100,0.618964,0.689262,0.677812,1.000000,0.613978,0.638816
Rank_11001,0.634893,0.450292,0.691086,0.482360,0.761032,0.592575,0.803316,0.613978,1.000000,0.691502
Absence_11001,0.462747,0.541692,0.536598,0.540676,0.606471,0.642967,0.618612,0.638816,0.691502,1.000000

In [48]:
corr_between_RankAbsence.Admission_Status.value_counts()

一般生     1240
外國學生      10
原住民       10
身心障礙       6
港澳生        1
Name: Admission_Status, dtype: int64

In [49]:
corr_between_RankAbsence.Admission_Method.value_counts()

甄選入學        658
聯合分發        416
申請入學         78
技優甄審         75
繁星入學         23
外國學生申請入學     10
身心障礙          6
海外聯招          1
Name: Admission_Method, dtype: int64

In [50]:
corr_between_RankAbsence.Citizenship.value_counts()

台灣      1256
馬來西亞       8
越南         2
香港         1
Name: Citizenship, dtype: int64

In [51]:
corr_between_RankAbsence.Graduation_Method.value_counts()

畢業    1243
肄業      24
Name: Graduation_Method, dtype: int64

In [52]:
corr_between_RankAbsence.Nationality.value_counts()

無       1254
阿美族        4
泰雅族        3
卑南族        2
排灣族        2
太魯閣族       1
布農族        1
Name: Nationality, dtype: int64

In [53]:
corr_between_RankAbsence.NewResidents_Citizenship.value_counts()

無    1267
Name: NewResidents_Citizenship, dtype: int64

In [54]:
from scipy import stats

In [55]:
Admission_Method_1 = corr_between_RankAbsence[corr_between_RankAbsence['Admission_Method']=="甄選入學"]

In [56]:
Admission_Method_2 = corr_between_RankAbsence[corr_between_RankAbsence['Admission_Method']=="聯合分發"]

In [57]:
len(Admission_Method_1)

658

In [58]:
len(Admission_Method_2)

416

In [59]:
stats.levene(Admission_Method_1['Rank_10801'], Admission_Method_2['Rank_10801']) 
#Levene's test 同質性檢定，檢驗不顯著（p 值很大），這意味著方差具有同質性。

LeveneResult(statistic=0.5014167123546528, pvalue=0.47903222304072146)

In [60]:
# Shapiro-Wilk 正態性檢驗，p值很小，不滿足常態分布
stats.shapiro(Admission_Method_1['Rank_10801'])

ShapiroResult(statistic=0.9589931964874268, pvalue=1.3833748599770268e-12)

In [61]:
# Shapiro-Wilk 正態性檢驗，p值很小，不滿足常態分布
stats.shapiro(Admission_Method_2['Rank_10801'])

ShapiroResult(statistic=0.9637433886528015, pvalue=1.2872376053962853e-08)

In [62]:
stats.ttest_ind(Admission_Method_1['Rank_10801'], Admission_Method_2['Rank_10801']) #獨立樣本 T 檢定，p值顯示無顯著差異

Ttest_indResult(statistic=0.7395737514121896, pvalue=0.45972059175503743)

In [63]:
stats.levene(Admission_Method_1['Rank_10802'], Admission_Method_2['Rank_10802']) 
#Levene's test 同質性檢定，檢驗不顯著（p 值很大），這意味著方差具有同質性。

LeveneResult(statistic=0.06047849896449078, pvalue=0.8057883218925205)

In [64]:
# Shapiro-Wilk 正態性檢驗，p值很小，不滿足常態分布
stats.shapiro(Admission_Method_1['Rank_10802'])

ShapiroResult(statistic=0.9628840684890747, pvalue=7.571557963936826e-12)

In [65]:
# Shapiro-Wilk 正態性檢驗，p值很小，不滿足常態分布
stats.shapiro(Admission_Method_2['Rank_10802'])

ShapiroResult(statistic=0.9602579474449158, pvalue=3.5836300593672377e-09)

In [66]:
stats.ttest_ind(Admission_Method_1['Rank_10802'], Admission_Method_2['Rank_10802']) #獨立樣本 T 檢定，p值顯示無顯著差異

Ttest_indResult(statistic=0.6734368690856986, pvalue=0.500814559670641)

In [67]:
stats.levene(Admission_Method_1['Rank_11001'], Admission_Method_2['Rank_11001']) 
#Levene's test 同質性檢定，檢驗不顯著（p 值很大），這意味著方差具有同質性。

LeveneResult(statistic=0.0009258603856674843, pvalue=0.9757314148948197)

In [68]:
# Shapiro-Wilk 正態性檢驗，p值很小，不滿足常態分布
stats.shapiro(Admission_Method_1['Rank_11001'])

ShapiroResult(statistic=0.9578378200531006, pvalue=8.525173839438183e-13)

In [70]:
# Shapiro-Wilk 正態性檢驗，p值很小，不滿足常態分布
stats.shapiro(Admission_Method_2['Rank_11001'])

ShapiroResult(statistic=0.958962619304657, pvalue=2.267205312378451e-09)

In [71]:
stats.ttest_ind(Admission_Method_1['Rank_11001'], Admission_Method_2['Rank_11001']) #獨立樣本 T 檢定，p值顯示無顯著差異

Ttest_indResult(statistic=-0.5426733290977594, pvalue=0.5874675409500364)

In [81]:
Absence_10801_low = corr_between_RankAbsence[corr_between_RankAbsence['Absence_10801']<0.1]
#corr_between_RankAbsence[corr_between_RankAbsence['Absence_10801']<0.1]

In [82]:
Absence_10801_high = corr_between_RankAbsence[~(corr_between_RankAbsence['Absence_10801']<0.1)]

In [83]:
stats.levene(Absence_10801_low['Rank_10801'], Absence_10801_high['Rank_10801']) 
#Levene's test 同質性檢定，檢驗不顯著（p 值很大），這意味著方差具有同質性。

LeveneResult(statistic=0.021147911972735634, pvalue=0.8843999025201708)

In [84]:
# Shapiro-Wilk 正態性檢驗，p值很小，不滿足常態分布
stats.shapiro(Absence_10801_low['Rank_10801'])

ShapiroResult(statistic=0.9522615671157837, pvalue=1.3908506304679581e-14)

In [85]:
# Shapiro-Wilk 正態性檢驗，p值很小，不滿足常態分布
stats.shapiro(Absence_10801_high['Rank_10801'])

ShapiroResult(statistic=0.9531502723693848, pvalue=4.445811774278496e-12)

In [86]:
stats.ttest_ind(Absence_10801_low['Rank_10801'], Absence_10801_high['Rank_10801']) #獨立樣本 T 檢定，p值<0.05 代表具有顯著差異

Ttest_indResult(statistic=-21.57600787802371, pvalue=3.629863238778213e-88)

In [87]:
Absence_10802_low = corr_between_RankAbsence[corr_between_RankAbsence['Absence_10802']<0.1]

In [88]:
Absence_10802_high = corr_between_RankAbsence[~(corr_between_RankAbsence['Absence_10802']<0.1)]

In [91]:
Absence_10802_low

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10801,Absence_10801,Rank_10802,Absence_10802,Rank_10901,Absence_10901,Rank_10902,Absence_10902,Rank_11001,Absence_11001
140,108131**,女,日觀光108忠,一般生,聯合分發,台灣,畢業,無,無,0.015873,0.000000,0.083333,0.0,0.047619,0.000000,0.125000,0.000000,0.015873,0.000000
141,108115**,女,日國貿108忠,一般生,甄選入學,台灣,畢業,無,無,0.034483,0.000000,0.049180,0.0,0.050847,0.000000,0.053571,0.000000,0.058824,0.000000
143,108116**,男,日國貿108孝,一般生,聯合分發,台灣,畢業,無,無,0.037037,0.000000,0.145455,0.0,0.052632,0.000000,0.037736,0.000000,0.100000,0.000000
144,108123**,女,日行銷108仁,一般生,申請入學,台灣,畢業,無,無,0.038462,0.000000,0.080000,0.0,0.040000,0.000000,0.041667,0.000000,0.711111,0.222222
145,108161**,女,日工設產品108忠,一般生,甄選入學,台灣,畢業,無,無,0.043478,0.000000,0.043478,0.0,0.022222,0.000000,0.022727,0.000000,0.093023,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,108136**,女,日餐管108忠,一般生,聯合分發,台灣,畢業,無,無,0.442308,0.000000,0.614035,0.0,0.127273,0.000000,0.122807,0.000000,0.357143,0.000000
3776,108152**,男,日資科108孝,一般生,聯合分發,台灣,畢業,無,無,0.759259,0.000000,0.277778,0.0,0.722222,0.000000,0.410714,0.200000,0.410714,0.000000
3779,108138**,男,日餐管108仁,一般生,甄選入學,台灣,畢業,無,無,0.868852,0.000000,0.355932,0.0,0.448276,0.000000,0.147541,0.250000,0.600000,0.000000
3842,108157**,男,日創設108忠,一般生,聯合分發,台灣,肄業,無,無,0.611111,0.000000,0.566038,0.0,0.603774,0.166667,0.403846,0.000000,0.745098,0.000000
3850,108145**,女,日應英108忠,一般生,甄選入學,台灣,肄業,無,無,0.339286,0.166667,0.254545,0.0,0.428571,0.203704,0.457627,0.175926,0.298246,0.194444

In [92]:
Absence_10802_high

,Student_ID,Gender,Class,Admission_Status,Admission_Method,Citizenship,Graduation_Method,Nationality,NewResidents_Citizenship,Rank_10801,Absence_10801,Rank_10802,Absence_10802,Rank_10901,Absence_10901,Rank_10902,Absence_10902,Rank_11001,Absence_11001
139,108801**,男,日觀光108忠,外國學生,外國學生申請入學,馬來西亞,肄業,無,無,0.428571,0.166667,0.266667,0.226852,0.476190,0.243827,0.796875,0.219907,0.730159,0.254630
142,108111**,女,日企管108忠,一般生,聯合分發,台灣,畢業,無,無,0.036364,0.000000,0.125000,0.166667,0.018868,0.000000,0.098039,0.180556,0.020000,0.000000
146,108131**,女,日觀光108忠,一般生,聯合分發,台灣,畢業,無,無,0.047619,0.194444,0.033333,0.208333,0.031746,0.166667,0.015625,0.000000,0.063492,0.000000
147,108125**,女,日財法108忠,一般生,甄選入學,台灣,畢業,無,無,0.052632,0.166667,0.066667,0.166667,0.396825,0.000000,0.098361,0.166667,0.266667,0.000000
152,108146**,男,日應英108孝,一般生,聯合分發,台灣,畢業,無,無,0.086207,0.000000,0.175439,0.166667,0.037037,0.000000,0.120000,0.000000,0.057692,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855,108146**,男,日應英108孝,一般生,聯合分發,台灣,肄業,無,無,0.793103,0.316667,0.614035,0.383333,0.888889,0.233796,0.980000,0.527778,0.903846,0.455556
3856,108116**,男,日國貿108孝,一般生,聯合分發,台灣,肄業,無,無,0.796296,0.240741,0.872727,0.263072,0.842105,0.299020,0.811321,0.319444,0.800000,0.248457
3857,108145**,女,日應英108忠,一般生,甄選入學,台灣,肄業,無,無,0.857143,0.371914,0.927273,0.501389,0.839286,0.567460,0.711864,0.312500,0.859649,0.335859
3858,108162**,男,日工設機械108忠,一般生,甄選入學,台灣,肄業,無,無,0.891304,0.583333,0.914894,0.333333,0.961538,0.537037,0.900000,0.371345,0.937500,0.634921
3868,108124**,女,日行銷108愛,一般生,申請入學,台灣,肄業,無,無,0.612245,0.218954,0.608696,0.242284,0.333333,0.222222,0.205128,0.206349,0.307692,0.197531

In [89]:
stats.levene(Absence_10802_low['Rank_10802'], Absence_10802_high['Rank_10802']) 
#Levene's test 同質性檢定，檢驗顯著（p 值很小），這意味著方差不具有同質性。

LeveneResult(statistic=13.795042693674652, pvalue=0.00021275422907627873)

In [90]:
stats.ttest_ind(Absence_10802_low['Rank_10802'], Absence_10802_high['Rank_10802']) #獨立樣本 T 檢定，p值<0.05 代表具有顯著差異

Ttest_indResult(statistic=-24.4334024337827, pvalue=2.5615766418466498e-108)